.new{
    background-color: rgb(255, 136, 127);
    width: 210px;
    margin-left: 600px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10%;
    height: 200px;
    border: 70px;
    box-shadow: inset;
   
}

.hts{
    background-color: rgb(237, 228, 228);
    height: 100vh;
}
